<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>How To Reduce Your Carbon Footprint</title>
        <link rel="stylesheet" href="static/stylesheet.css"/>
        <link rel="shortcut icon" type="image/svg" href="static/favicon.svg"/>
        <script src="static/main.js" defer></script>
    </head>
    <body class="body">
        <header class="header headeranimationrev" id="header">
            <!--The SVG gets rendered through Flask templates.-->
            {{svg|safe}}
            <div class="spacer"></div>
            <button class="headerbutton" id="homebutton">Home</button>
            <button class="headerbutton" id="whatbutton">What?</button>
            <button class="headerbutton" id="whybutton">Why?</button>
            <button class="headerbutton" id="howbutton">How?</button>
            <button class="headerbutton" id="menubutton">
                <img src="static/menu.png" class="menuimage"/>
            </button>
        </header>
        <div class="dropdown" id="dropdown">
            <button class="closebutton" id="closebutton">
                <img src="static/menu.png" id="dropdownicon"/>
            </button>
            <div class="container">
                <button class="dropdownbutton" id="homedropdownbutton">Home</button>
                <button class="dropdownbutton" id="whatdropdownbutton">What?</button>
                <button class="dropdownbutton" id="whydropdownbutton">Why?</button>
                <button class="dropdownbutton" id="howdropdownbutton">How?</button>
            </div>
        </div>
        <section class="main" id="main">
            <section class="section" id="home">
                <div class="circle1 animation home"></div>
                <div class="circle2 animation home"></div>
                <h1 class="title animation home" id="hometitle">How to Reduce Your Carbon Footprint</h1>
                <p class="text animation home">The NOAA estimates that by 2050 sea levels worldwide 
                    will rise by 2 to 3 feet. That might just seem like a small number, but the impact this 
                    will have on our world is unprecedented. Portions of many costal cities will go 
                    underwater, and millions of people living in river deltas will have to abandon their 
                    agricultural lands and evacuate. The underlying cause of this problem is global warming 
                    caused by increasing CO<sub>2</sub> amounts in our atmosphere. To stop this 
                    problem, we have to reduce each of our carbon footprints.
                </p>
                <!--The p is not a child of the h1 because of a css bug on mobile that affects the animations.-->
                <h1 class="learnmore animation home">Click the following to learn more about <b>what</b> 
                    is a carbon footprint, <b>why</b> we need to reduce our carbon footprints, and <b>how</b> 
                    to reduce your carbon footprint.
                </h1>
                <div class="buttoncontainer" id="buttoncontainer">
                    <button class="mainbuttons animation home" style="--anim-offset: 0" id="whatmainbutton">What?</button>
                    <button class="mainbuttons animation home" style="--anim-offset: 1" id="whymainbutton">Why?</button>
                    <button class="mainbuttons animation home" style="--anim-offset: 2" id="howmainbutton">How?</button>
                </div>
            </section>
            <section class="section" id="what">
                <div class="circle1 animation what"></div>
                <div class="circle2 animation what"></div>
                <h1 class="title animation what" id="whattitle">What is a carbon fooprint?
                    <p class="text animation what">A carbon footprint is the total amount of greenhouse gases created by an individual, 
                        and these gases are often a consqueunce of using fossil fuels like natural gas and coal. 
                        These greenhouse gases trap the sun's heat in the air and contribute to global warming. 
                        The average person in the United States has an estimated carbon footprint of 16 tons, which 
                        is much higher than the global average of 4 tons per person. These high carbon footprints 
                        show that CO2 in the atmosphere is increasing at a steady rate, causing global warming and 
                        many other negative effects.
                    </p>
                </h1>
                <h1 class="learnmore animation what">
                    Now that you know what a carbon fooptrint is, learn <b>why</b> you need to reduce yours.
                </h1>
                <button class="whattowhy animation what" id="whattowhy">Why?</button>
            </section>
            <section class="section" id="why">
                <div class="circle1 animation why"></div>
                <div class="circle2 animation why"></div>
                <h1 class="title animation why" id="whytitle">Why do I need to reduce my carbon footprint?
                    <p class="text animation why">Increasing CO2 in our atmosphere will lead to a multitude of problems, including 
                        rising sea levels, climate change, and global warming. In addition to these, the greenhouse gasses in the air 
                        cause extreme weather, such as wildfires and droughts. These problems are just a few out of many that will 
                        drastically change our society in the next 50 to 100 years and beyond, but they have some of the most severe 
                        consequences. To stop this, everyone can make just a few small changes to their lifestyle.
                    </p>
                </h1>
                <h1 class="learnmore animation why">
                    Now that you know why you need to reduce your carbon footprint, learn <b>how</b> to reduce yours.
                </h1>
                <button class="whytohow animation why" id="whytohow">How?</button>
            </section>
            <section class="section" id="how">
                <div class="circle1 animation how"></div>
                <div class="circle2 animation how"></div>
                <h1 class="title animation how" id="howtitle">How do I reduce my carbon footprint?</h1>
                <div class="howgrid">
                    <card class="animation how" style="--offset: 1">
                        <h2>
                            Use Cars Less
                        </h2>
                        <p>
                            Cars release a huge amount of CO2 into the atmosphere. By simply using cars less,
                            you can make a huge impact on your carbon footprint.
                        </p>
                        <div class="spacer"></div>
                        <a class="link" href="/use_cars_less">Learn More ></a>
                    </card>
                    <div class="steps animation how" style="--offset: 0">1</div>
                    <div class="steps animation how" style="--offset: 2">2</div>
                    <card class="animation how" style="--offset: 3">
                        <h2>
                            Manage Your Appliances & Electricity
                        </h2>
                        <p>
                            Over 60% of electricity that is used comes from fossil fuels. Electricity is the second 
                            highest contributor for greenhouse gases in the atmosphere. Managing your appliances 
                            and electricity usage is important to reduce your carbon footprint and there are 
                            several easy ways to do so.
                        </p>
                        <div class="spacer"></div>
                        <p class="link">Learn More ></p>
                    </card>
                    <card class="animation how" style="--offset: 5">
                        <h2>
                            Reduce, Reuse, and Recycle
                        </h2>
                        <p>
                            blah blah blah blah blah blah blah blah
                        </p>
                        <div class="spacer"></div>
                        <p class="link">Learn More ></p>
                    </card>
                    <div class="steps animation how" style="--offset: 4">3</div>
                    <div class="steps animation how" style="--offset: 6">4</div>
                    <card class="animation how" style="--offset: 7">
                        <h2>
                            blah blah blah blah 
                        </h2>
                        <p>
                            blah blah blah blah blah blah blah blah
                        </p>
                        <div class="spacer"></div>
                        <p class="link">Learn More ></p>
                    </card>
                </div>
            </section>
        </section>
        <footer>
            <!---This is where the footer would go, containing various information about the source code
                and the bpa event.-->
        </footer>
    </body>
</html>
